<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="streamContainer">
  <ul id="stream">

  </ul>
</div>
<div>
  <div>
    <input type="text" id="msg" name="msg"/>
  </div>
  <button id="sendBtn" >send</button>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="/bower_components/jquery-simple-websocket/dist/jquery.simple.websocket.min.js"></script>
<script type="text/javascript">
let webSocket = null;

function sendMsg(msg) {
  webSocket.send({ 'text':  msg}).done(function() {
      console.log('sent msg:'+msg)
  }).fail(function(e) {
      console.log(e);
  });
}

$( document ).ready(function() {
  $('#sendBtn').click(function(){
    const msg = $('#msg').val();
    sendMsg(msg);
  })

   webSocket = $.simpleWebSocket({ url: 'ws://{{host}}/' });

  // reconnected listening
  webSocket.listen(function(message) {
      console.log(message.text);
      $('#stream').append('<li><div>'+message.text+'</div></li>');
  });

  sendMsg('fired up!');
});
</script>
